/* Force body to have no margins */
body {
	font-family: 'Cantarell', Ariel, sans-serif !important;
	margin: 0px !important;
	padding: 0px !important;
	width: 100%;
}

/* Modifying default Google theme */
.dialogContent {
	padding: 6px;
}

/* Stuff within the bar */
.userEmail {
	height: 60px;
	line-height: 60px;
	float: left;
	margin-left: 12px;
	text-decoration: none;
	color: #222730;
	font-weight: bold;
}

/* User picture */
.userPicture {
	width: 50px;
	height: 50px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: rgb(96, 108, 136);
}

#userBar .userPicture {
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: middle;
}



/* Bracket-related stuff */
.bracket-hover-popup,
.bracket-click-popup
{
	z-index:20;
	text-align:center;
}

.bracket-popup-team
{

}

.bracket-popup-team-name
{
}

.bracket-popup-hint-text
{
	margin:10px;
	font-size:8pt;
}

.bracket-click-popup
{
	background-color:#ffff7e;
}

.bracket-seed
{
	z-index:12;
	background-color:#00007e;
	color:white;
	position:absolute;
	right:0px;
	bottom:0px;
	padding:1px;
	font-size:6pt;
	font-weight:bold;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
	cursor:default;
}

canvas:focus
{
	outline:0px
}

.main-content
{
	overflow:scroll;
}

.bracket-container
{
	
}

.bracket-cell
{
	position:relative;
	z-index:10;
}

.bracket-tiebreaker-input-invalid
{
	outline:3px solid red;
}

.bracket-button-container
{
	cursor:pointer;
	position:absolute;
	z-index:11;
}

.bracket-button-icon-failure
{
    opacity:0.75;
    /* Ooo, I know!  Let's get experimental! */
    filter:grayscale(80%) blur(2px);
    -webkit-filter:grayscale(80%) blur(2px);
}

.bracket-button-icon-overlay
{
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}

.bracket-subcell
{
}

.bracket-column
{
	display:inline-block;
}

.bracket-button-background
{
	position:relative;
}

.dateBoxPopup {
	z-index: 30010;
}

.bracket-popup-team-icon {
	width:110px;
	height:110px;
}
