<div class="game-container">
    <table class="game-table">
      <thead>
        <tr>
          <th class="clock" colspan="2">{{gameClock()}}</th>
        </tr>
      </thead>
      <tr [ngStyle]="teamStyle(0)" class="team">
        <td *ngIf="!!game.topTeam;else no_team" class="name">{{game.topTeam.name}}</td>
        <td *ngIf="!!game.topTeam;else no_team" class="score">{{game.topScore}}</td>
      </tr>
      <tr [ngStyle]="teamStyle(1)" class="team">
        <td *ngIf="!!game.bottomTeam;else no_team" class="name">{{game.bottomTeam.name}}</td>
        <td *ngIf="!!game.bottomTeam;else no_team" class="score">{{game.bottomScore}}</td>
      </tr>
      <ng-template #no_team></ng-template>
    </table>
  </div>