<mat-card>
  <mat-card-header>
    <mat-card-title>Tournament Metadata</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div><span>ID:</span> {{ tournament.id }}</div>
    <div><span>startDate:</span> {{ tournament.startDate }}</div>
    <div><span>complete:</span> {{ tournament.complete }}</div>
  </mat-card-content>
</mat-card>

<div class="container">
  <ng-container *ngFor="let column of gameColumns; index as i">
    <div *ngFor="let gameNumber of column; index as j" class="game" [ngStyle]="gridLocation(i, j)">
      <app-game
      [game]="tournament.games[gameNumber]"
      [column]="i"
      [row]="j"
      [round]="columnToRound(i)"
      [number]="gameNumber"
    ></app-game>
    </div>
  </ng-container>
</div>
