<mat-card>
    <mat-card-header>
        <mat-card-title>Tournament Metadata</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div><span>ID:</span> {{tournament.id}}</div>
        <div><span>startDate:</span> {{tournament.startDate}}</div>
        <div><span>complete:</span> {{tournament.complete}}</div>
    </mat-card-content>
</mat-card>

<span class="column">
    <app-game *ngFor="let game of tournament.games" [game]="game"></app-game>
</span>
<mat-divider [vertical]="true"></mat-divider>
