/* Buttons */
.redButton,.blueButton {
	border: 2px solid;
	color: #FFFFFF;
	display: inline-block;
	/*height: 37px;*/
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	overflow: hidden;
	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	padding-right: 6px;
	padding-left: 6px;
}

.redButton:disabled,.blueButton:disabled {
	color: #eee;
	background-color: #ccc;
	border-color: #ccc;
	text-shadow: none;
	cursor: default;
}

.redButton:disabled,.blueButton:disabled,.redButton:hover:disabled,.blueButton:hover:disabled
	{
	color: #eee;
	background-color: #ccc;
	border-color: #ccc;
	text-shadow: none;
	cursor: default;
}

.blueButton {
	background-color: #606c88;
	border-color: #606c88;
}

.blueButton a,.blueButton a:hover,.blueButton a:active,.blueButton a:visited,.blueButton:hover,.blueButton:active,.blueButton:visited
	{
	text-decoration: none;
	color: #FFF;
}

.redButton {
	background-color: #dd4b38;
	border-color: #dd4b38;
}

.redButton a,.redButton a:hover,.redButton a:active,.redButton a:visited,.redButton:hover,.redButton:active,.redButton:visited
	{
	text-decoration: none;
	color: #FFF;
}

.buttonContainer {
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
}

.dialogBox {
	z-index: 30000;
}

.glass {
	background-color: #000;
	opacity: 0.75;
	z-index: 29999;
}

.dialogText {
	padding: 12px;
	font-size: 12pt;
	text-align: center;
}

.formContainer {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 6px;
	z-index: 30001;
}

.formDescription {
	font-weight: bold;
	vertical-align: center;
	padding-right: 6px;
	max-width: 200px;
}

.formField {
	width: 100%;
	z-index: 30002;
}

.leftButton {
	float: left;
}

.rightButton {
	float: right;
}