<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Servlets -->
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>net.exclaimindustries.paste.braket.server.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/braket_o_matic/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>net.exclaimindustries.paste.braket.server.UserServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/braket_o_matic/user</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>tournamentServlet</servlet-name>
		<servlet-class>net.exclaimindustries.paste.braket.server.TournamentServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>tournamentServlet</servlet-name>
		<url-pattern>/braket_o_matic/tournament</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>selectionServlet</servlet-name>
		<servlet-class>net.exclaimindustries.paste.braket.server.SelectionServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>selectionServlet</servlet-name>
		<url-pattern>/braket_o_matic/selection</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>gameServlet</servlet-name>
		<servlet-class>net.exclaimindustries.paste.braket.server.GameServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>gameServlet</servlet-name>
		<url-pattern>/braket_o_matic/game</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>teamServlet</servlet-name>
		<servlet-class>net.exclaimindustries.paste.braket.server.TeamServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>teamServlet</servlet-name>
		<url-pattern>/braket_o_matic/team</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>expectOServlet</servlet-name>
		<servlet-class>net.exclaimindustries.paste.braket.server.ExpectedValueServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>expectOServlet</servlet-name>
		<url-pattern>/braket_o_matic/expect_o_matic</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>leaderboardServlet</servlet-name>
		<servlet-class>net.exclaimindustries.paste.braket.server.LeaderboardServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>leaderboardServlet</servlet-name>
		<url-pattern>/braket_o_matic/leaderboard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>expectOMatic</servlet-name>
		<servlet-class>net.exclaimindustries.paste.braket.server.backends.ExpectOMatic</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>expectOMatic</servlet-name>
		<url-pattern>/_ah/start</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>expectOMatic</servlet-name>
		<url-pattern>/_ah/stop</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>expectOMatic</servlet-name>
		<url-pattern>/reset-o-matic</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>expectOMatic</servlet-name>
		<url-pattern>/start-o-matic</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value />
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RemoteApiServlet</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RemoteApiServlet</servlet-name>
		<url-pattern>/_ah/remote_api</url-pattern>
	</servlet-mapping>

	<!-- Cron jobs -->
	<servlet>
		<servlet-name>DownloadOMatic</servlet-name>
		<servlet-class>net.exclaimindustries.paste.braket.server.backends.GameDownloaderServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DownloadOMatic</servlet-name>
		<url-pattern>/cron/download-o-matic</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>braket.html</welcome-file>
	</welcome-file-list>

	<!-- Error pages -->
	<error-page>
		<error-code>500</error-code>
		<location>/500.html</location>
	</error-page>

	<error-page>
		<exception-type>java.Exception</exception-type>
		<location>/500.html</location>
	</error-page>

	<!-- Filters -->
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Constraints -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>cron-jobs</web-resource-name>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>reset-o-matic</web-resource-name>
			<url-pattern>/reset-o-matic</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>start-o-matic</web-resource-name>
			<url-pattern>/start-o-matic</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>