<mat-horizontal-stepper linear>
  <mat-step label="Add teams">
    <div class="step-title">Without teams, there are no games.</div>
    <div class="step-subtitle">Add all the teams that are playing in the tournament.</div>
    <form class="team-step">
      <app-team-adder *ngFor="let team of teams; index as i" [team]="team" [deletable]="teams.length > 2" (deleteRequest)="deleteTeam($event)"></app-team-adder>
      <app-team-adder (addRequest)="addTeam()"></app-team-adder>
    </form>
    <span class="action-buttons">
      <!-- <button mat-button matStepperPrevious>Back</button> -->
      <button mat-button matStepperNext>Next <mat-icon></mat-icon></button>
    </span>
  </mat-step>
  <mat-step label="Configure games">
    <div class="step-title">Without games, there is no bracket.</div>
    <div class="step-subtitle">Add all the games in the tournament, starting with the championship game and branching out using the "play in" buttons as necessary.</div>
    <form class="game-step">
      <app-game-adder *ngFor="let game of games; index as i" [game]="game" [championship]="i==0" [teams]="teamsRemaining"></app-game-adder>
    </form>
    <span class="action-buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </span>
  </mat-step>
  <mat-step label="Set bracket rules">
    <div class="step-title">Rules define the bracket.</div>
    <div class="step-subtitle">Specify the points per correct pick and the payout values so pickers know how to win.</div>
    <form class="tournament-step">
      <app-tournament-editor
        [(tournament)]="tournament"
      ></app-tournament-editor>
      <span class="action-buttons">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </span>
    </form>
  </mat-step>
  <mat-step label="Save and activate">
    <span class="action-buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="saveAndActivate()">Save and activate</button>
    </span>
  </mat-step>
</mat-horizontal-stepper>
