form.tournament-step {
    min-width: 400px;
    max-width: 800px;
    margin: 16px auto;
}

form.team-step {
    min-width: 400px;
    max-width: 600px;
    margin: 16px auto;
}

div.team-item {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-top: 16px;
}

span.action-buttons {
    display: flex;
    justify-content: flex-end;
}