<mat-horizontal-stepper linear>
  <mat-step label="Set tournament rules">
    <form class="tournament-step">
      <app-tournament-editor [(tournament)]="tournament"></app-tournament-editor>
      <span class="action-buttons">
        <button mat-button matStepperNext>Next</button>
      </span>
    </form>
  </mat-step>
  <mat-step label="Add teams">
    <form class="team-step">
      <div class="team-item" *ngFor="let team of teams; index as i">
        <app-team-editor [team]="team"></app-team-editor>
        <button mat-icon-button type="button" (click)="deleteTeam(team)"><mat-icon>delete</mat-icon></button>
      </div>
      <button mat-button type="button" [disabled]="noMoreTeams()" (click)="addTeam()">Add team</button>
      <span class="action-buttons">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </span>
    </form>
  </mat-step>
  <mat-step label="Configure games">
    <form>
      <mat-list-item *ngFor="let game of games; index as i">
        <app-game-editor [game]="game" [teams]="teams"></app-game-editor>
        <button mat-icon-button type="button" (click)="deleteGame(game)"><mat-icon>delete</mat-icon></button>
      </mat-list-item>
      <button mat-button type="button" [disabled]="noMoreGames()" (click)="addGame()">Add game</button>
      <span class="action-buttons">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </span>
    </form>
  </mat-step>
  <mat-step label="Save and activate">
    <span class="action-buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button>Save and activate</button>
    </span>
  </mat-step>
</mat-horizontal-stepper>
